.heroo_head {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  font-style: italic;
  letter-spacing: 1.5px;
}
.heroo_head h3 {
  color: #044040;
}
.passengerForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
#form {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#passenger_select {
  width: 150px;
  height: 35px;
  background-color: #044040;
  border: 2px solid #25c7d9;
  border-radius: 4px;
  color: white;
  margin-right: 20px;
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  width: 150px;
  height: 40px;
  border-radius: 15px;
  border: 2px solid #008cba;
  background-color: #044040;
  font-size: large;
  color: white;
}
.hvr-grow-shadow:hover,
.hvr-grow-shadow:focus,
.hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  background-color: #008cba;
}

/* Box Shadow Outset */
.hvr-box-shadow-outset {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-box-shadow-outset:hover,
.hvr-box-shadow-outset:focus,
.hvr-box-shadow-outset:active {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);
}
