body{
    background-image:  linear-gradient(to right, rgba(48, 91, 140, 0.478), rgba(66, 51, 77, 0.29)),url(../css//imgs/back2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero_head{
  
   display: flex;
   justify-content: center;
   font-size: 2.5rem;
   font-weight:bold;
   color: white;
   font-style: italic;
   letter-spacing: 1.5px;
   margin-bottom: 50px;
}
a{
text-decoration: none;
color: white;
font-weight: bold;
font-style: italic;
}
.flights_table{
    margin:auto;
    width: 1000px;
    text-align: center;
    border: 1px solid #0897B4;
  
}
.flights_cell {
  
   background-size: cover;
 border: 3px solid black;
}

.flights_cell th{
    padding: 20px;
  
}
table td,th{
    padding: 20px;
    font-style: italic;
    border: 2px solid #0897B4;
    border-radius: 30px;
   
}

@media screen and(min-widht:767px) and (max-width: 1023px) {
    .flights_table{
        margin:auto;
        width: 100%;
        text-align: center;
    }
}
.id_style{
    padding: 10px;
    border-radius: 50%;
    width: 70px;
    height: 10px;
    background-color: #159A9C;
}

/* flights style page */

:root {
    --surface-color: #fff;
    --curve: 50;
  }
  
 
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  
  .card__image {      
    width: 100%;
    height: 100%;
    
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 30 -12 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
  }
  
  .card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";  
    font-size: .8em; 
    color: #D7BDCA;  
  }
  
  .card__status {
    font-size: .8em;
    color: #D7BDCA;
  }
  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #503a46;
    font-family: "MockFlowFont";   
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-transform: uppercase;
  }    
  /* cards */
  .container {
    position: relative;
    width: 300px;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    background-color: #008CBA;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
  }
  
  .container:hover .overlay {
    bottom: 0;
    height: 100%;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
.PassenderContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.passengerName{
  width: 700px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  background-color: #2C6CBF;
  margin-bottom: 20px;
  padding: 10px 50px 10px 50px;
color: #ffffff;

}
